body{
    background-color: darkslateblue;
    gap: 20px;
    text-align: center;
    color:aliceblue;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    border: aliceblue solid;
    border-radius: 15px;
    padding: 5px;
}
#container{
    display: flex;  
    flex-flow: row wrap;
    flex-grow: 1;
    outline: auto;
    width:160px;
    justify-self: center;
    margin: 25px;
}

.grid{
    flex-grow: 1;
    background-color: rgb(81, 83, 85);
    width: 10px;
    height: 10px;
}

.grid-colored{
    background-color: black;
    width: 10px;
    height: 10px;
}

#reset{
    justify-self: flex-start;
}

#reset-app{
    justify-self: flex-end;
}

.journal{
    background-color: wheat;
    color: darkslategray;
}

.signature{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blanchedalmond;
}
.form{
    display:block;

}

.cell{
    border: black solid 2px;
    min-width: 5px;
    min-height: 5px;
}