body{
    background-color: darkslateblue;
    gap: 20px;
    text-align: center;
    color:aliceblue;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    border: aliceblue solid;
    border-radius: 15px;
    padding: 5px;
}
#container{
    display: flex;  
    flex-flow: row wrap;
    flex-grow: 1;
    width:160px;
    justify-self: center;
    margin: 25px;
}

.grid{
    flex-grow: 1;
    background-color: rgb(81, 83, 85);
    width: 10px;
    height: 10px;
}

.grid-colored{
    background-color: black;
    width: 10px;
    height: 10px;
}

#reset{
    justify-self: flex-start;
}

#reset-app{
    justify-self: flex-end;
}

.journal{
    display: flex;
    flex-direction: column;
    background-color: wheat;
    color: darkslategray;
    text-align:start;
    width: 50%;
    margin:auto;
    border: whitesmoke solid 6px;
    outline:auto;
    padding: 10px;
}

.signature{
    padding:10px;
    border:slategray solid 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blanchedalmond;
}
.form label, .form input{
    display:block;
    
}

.form button{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 10px;
}

.cell{
    border: black solid 2px;
    min-width: 5px;
    min-height: 5px;
}

.controls-container{
    display: grid;
    width: 100%;
    margin-top: 10px;
}